%h1 Test#index
%p Find me in app/views/test/index.html.haml

=link_to 'Test Post Api Register', api_registeruser_path(device_id: 'value1', param2: 'value2'), method: :post
%button.btn.btn-primary#api_register Submit


%button.btn.btn-primary#api_getuserinfo GetUserInfo